@media (max-width: 768px) {

    :root {
        --size3: 15px;
        --size5: 25px;
        --size6: 25px;
    }

    h2{
        font-weight: normal;
    }

    .container {
        max-width: 768px;
        padding: 0 25px;
    }

    #header .container,
    #not-only .container{
        padding: 0 10px;
    }

    .logo{
        font-weight: normal;
    }

    #main-menu{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 43px;

    }



        /* start burger*/
        .burger {
            z-index: 5;
            width: 30px;
            height: 22px;
            position: relative;
            cursor: pointer;
            display: block;
            transition: all 0.3s ease 0s;
        }
        .burger::after,
        .burger::before,
        .burger span {
            left: 0;
            position: absolute;
            height: 2px;
            width: 100%;
            transition: all 0.5s ease 0s;
            background-color: var(--color-primary);
        }
        .burger::after,
        .burger::before {
            content: "";
        }
        .burger::before {
            top: 0;
        }
        .burger::after {
            bottom: 0;
        }
        .burger span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

        .burger.open{
            transform: rotate(90deg) translate(0, -50%);
        }




        /* .burger.open::after {
            transform: rotate(-45deg) translate(0, 50%);
            bottom: 50%;
        }
        .burger.open::before {
            transform: rotate(45deg) translate(0, -50%);
            top: 50%;
        }
        .burger.open span {
            transform: scale(0) translate(0, -50%);
        } */
        /* end burger*/

        .burger-list {
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            width: 80%;
            height: 100%;
            background-color: black;
            top: 0;
            right: -100%;
            overflow: auto;
            margin: 0;
            transition: all 0.5s ease 0s;
            padding: 134px 0 0 112px;
            align-items: flex-start;
            
        }
        .burger-list.open {
            right: 0;
        }
        .burger-list a {
            font-size: 1.95em;
            line-height: 2;
            margin-bottom: 16px;
        }

        #not-only .container{
            padding-bottom: 272px;
            background-size: 260px auto;
        }

        #not-only .info{
           padding-bottom: 105px;
        }

        #not-only  .info h2{
            margin: 0 auto;
            text-align: center;
            width: 200px;
        }

        #not-only .slogan{
            text-align: center;
        }

        #not-only .button{
            margin: 0 auto;
        }

        .about-lright h3{
            text-align: center;
        }

        .about-left{
            order: 1;
        }

        .about-right{order: 0;}

        #our-friends .flex-wrap{
            padding-bottom: 72px;
        }

        #our-friends .flex-wrap .item.el2,
        #our-friends .flex-wrap .item.el3
        {
            display: none;
        }

        .left-arrow,
        .right-arrow{
            bottom: 0px;
        }

        .our-friends_block-button{
            margin-top: 30px;
        }

        .left-arrow{
            left: calc(50% - 102px);
        }
    
        .right-arrow {
            right: calc(50% - 102px);
        }

        #help .flex-wrap{
            gap: 20px;
            /*margin-bottom: 55px;*/
            justify-content: space-between;

        }

    #help .flex-wrap .item{
        text-align: center;
        width: 105px;

    }

    #in-addition h3{
        text-align: center;
    }

    .credit-card{
        padding: 10px 15px 10px 60px;
    }

    .addition-left{
        order: 2;
    }

    .addition-lright{
        order: 1;
    }

    #footer .title{
        text-align: center;
        font-size: var(--size5);
        padding: 0 10px 40px;
    }

    #footer .ico{
        font-size: 20px;
    }

    #footer .item{
        padding-top: 20px;
        padding-bottom: 0;
        width: auto;
    }
}



@media (min-width: 768px) and (max-width: 1279px) {
    :root {
        --size3: 15px;
        --size5: 25px;
        --size6: 25px;
    }

    .container {
        max-width: 768px;
        padding: 0 30px;
    }

    #main-menu {
        margin-left: auto;
    }

    #not-only .container{
        padding-bottom: 600px;
        background-size: 569px auto;
    }

    #not-only .info{
        width: 460px;
        margin: 0 auto;
        padding-bottom: 105px;
    }

    #not-only  .info h2{
        font-size: 44px;
        margin: 0;

    }


    #not-only .button{
        margin: 0 auto;
    }


    .about-right{
        width: 430px;
    }

    .about-right h3{
        text-align: left;
        font-size: 35px;
    }

    .about-left{
        order: 1;
    }

    .about-right{order: 0;}

    #our-friends .flex-wrap{
        padding-bottom: 72px;
    }

    #our-friends .flex-wrap .item.el3
    {
        display: none;
    }

    .left-arrow,
    .right-arrow{
        bottom: 0px;
    }

    .our-friends_block-button{
        margin-top: 30px;
    }

    .left-arrow{
        left: calc(50% - 102px);
    }

    .right-arrow {
        right: calc(50% - 102px);
    }

    #help .flex-wrap{
        gap: 20px;
        /*margin-bottom: 55px;*/
        justify-content: space-between;

    }

    #help .flex-wrap .item{
        text-align: center;
        width: 105px;

    }

    #in-addition h3{
        text-align: left;
    }

    .credit-card{
        padding: 10px 15px 10px 60px;
    }

    .addition-left{
        order: 2;
    }

    .addition-lright{
        order: 1;
    }

    #footer .title{
        text-align: center;
        font-size: var(--size5);
        padding: 0 10px 40px;
    }

    #footer .ico{
        font-size: 20px;
        line-height: 1;
        padding: 0 0 10px 60px;
    }

    #footer .item{
        padding-top: 20px;
        padding-bottom: 0;
        width: auto;
    }



    #footer .flex-wrap{
        gap: 0;
        width: 708px;
    }

    #footer .item{
        width: 50%;
    }

    #footer .item .title{
        font-size: 35px;
        text-align: left;
    }



}

@media (min-width: 1200px) {
    :root {
        --size6: 44px;
    }
    .container {
        max-width: 1280px;
        padding: 0 40px;
    }

    #not-only .container{
        height: 788px;
        display: flex;
        /*align-items: center;*/
        /*padding-top: 100px;*/
    }

    #not-only .container{

    }

    #not-only .info{
        width: 460px;
        padding-top: 192px;
    }

    .about-left,
    .about-right{
        max-width: 430px;
    }


    .about-right h3{
    }



    .our-friends_block-button{
        margin-top: 60px;
    }

    .left-arrow {
        left: 0;
    }
    .right-arrow{
        right: 0;
    }

    #help .flex-wrap{



    }

    .help__title{
        padding-bottom: 60px;
    }

    .help__wrap{
        gap: 55px 120px;
        width: 1032px;
        margin: 0 auto;
        justify-content: space-evenly;
        margin-bottom: 55px;
    }

    .left-arrow,
    .right-arrow{
        top: 250px;

    }

    .in-addition{
        padding: 25px 0 102px;
    }

    .in-addition p{
        line-height: 110%;
        letter-spacing: 0.06em;
        margin: 16px 0 18px;
    }

    .in-addition__wrapper{
        gap: 28px;
    }

    .footer__wrap{
        justify-content: flex-start;
        gap: 138px;
    }

    .footer__item_address{

    }

    #footer .footer__item_address .title{
        padding-bottom: 32px;
    }

    #footer .address .ico{
        min-height: 32px;
        margin-bottom: 38px;
        line-height: 115%;
    }


}