:root {
    --color1: #fff;
    --color2: #000;
    --color4: #FDDCC4;


    --color-dark-l:#545454;
    --color-dark-s:#CDCDCD;
    --color-dark-xl: #4C4C4C;

    --color-dark-m: #B2B2B2;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;

    --color-primary: #F1CDB3;

    --size1: 12px;
    --size2: 17px;
    --size3: 20px;
    --size4: 32px;
    --size5: 35px;
   /* --size6: 44px;*/

    --line-height2: 1.1;
    --line-height1: 1.3;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Georgia", serif;
    font-weight: 400;
    margin: 0;
    color:var(--color-dark-l);
    font-size: 15px;
    line-height: 1.6;

    /*max-width: 1280px;*/
    min-width: 320px;

}

body._lock {
    overflow: hidden;
}

body._lock::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: var(--color1);
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    /*text-decoration: underline;*/
}

h1{
   line-height: var(--line-height2);
    margin: 0;
}

h2{
    margin: 0;
    font-size: var(--size6);
    line-height: var(--line-height1);
    font-weight: normal;

    /*letter-spacing: 0.06em;*/
}

h3{
    /*font-weight: normal;*/
    /*font-size:var(--size5);*/
    margin: 0;

    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.06em;
    line-height: 130%;
    
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding: 80px 0 100px;
}

button {
    border: 0;
    background-color: var(--color-primary);
    cursor: pointer;
    font-family: inherit;
    width: 220px;
    height: 55px;
    color: var(--color2);
    transition: 0.5s;
    font-size: 17px;
    border-radius: 40px;
}

button:hover {
    background-color: var(--color4);
}

.button {
    background-color: var(--color-primary);
    cursor: pointer;
    font-family: inherit;
    width: 205px;
    height: 50px;
    color: var(--color2);
    transition: 0.5s;
    font-size: 17px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
}

.button:hover {
    background-color: var(--color4);
}

/*.btn{*/
/*    background-color: transparent;*/
/*    border: 2px solid var(--color-primary);*/
/*    width: 187px;*/
/*    height: 52px;*/
/*    font-size: 17px;*/
/*    line-height: 130%;*/
/*    letter-spacing: 0.06em;*/
/*}*/

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.text-center{
    text-align: center;
}

#header{
    /*height: 180px;*/
    padding: 30px 0;

    background: rgb(68,54,45);
    background: linear-gradient(90deg, rgba(68,54,45,1) 0%, rgba(52,44,40,1) 47%, rgba(34,32,33,1) 100%);
}

#header .container{
    display: flex;
    height: 60px;
}

.nav{
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-list {
    justify-content: flex-end;
    /*margin-right: 20px;*/
}

.burger {
    display: none;
}

.nav-list {
    list-style: none;
    gap: 36px;
}

.nav-link {
    position: relative;
    font-family: Arial,sans-serif;

}

.nav-link:before{
    content: '';
    height: 2px;
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.nav-link:hover:before,
.nav-link.active:before{
    background-color: var(--color-primary);
}

.logo{
    color: var(--color-primary);
    font-size: 32px;
    letter-spacing: 0.06em;
    font-weight: normal;
}

.logo-slogan {
    color: var(--color1);
    font-size: 13px;
    font-family: Arial, serif;
    letter-spacing: 0.1em;
    margin-top: 6px;
    margin-left: 3px;
}

#not-only{
    padding: 0;
    background: rgb(68,54,45);
    background: linear-gradient(90deg, rgba(68,54,45,1) 0%, rgba(52,44,40,1) 47%, rgba(34,32,33,1) 100%);
}

.not-only__title{
    width: 310px;
    margin: 32px 0 42px 0;
}

#not-only .container{
    background-image: url("../../assets/images/start-puppy.png");
    background-repeat: no-repeat;
    background-size: 698px 728px;
    background-position: right 44px bottom 0;
    color: var(--color1);
}


#not-only .slogan{
    font-family: Arial,sans-serif;
    color: #CDCDCD;
    margin: 0 0 42px;
    text-align: justify;

}

#about{
    padding-bottom: 90px;
}



.about-left,
.about-right{
    color: var(--color-dark-xl);

}

.about-right h3{
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    padding-top: 15px;
    padding-bottom: 24px;
}

.about-right p{
    font-family: 'Arial',sans-serif;
    padding: 0 0 25px;
    margin: 0;
}


.about-left{
    /*text-align: left;*/
    /*padding-left: 14px;*/
}






#our-friends{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: var(--color-light-l);

}

.page-our-pets #our-friends{
    padding-bottom: 85px;
}



#our-friends h2{
    line-height: 130%;
    letter-spacing: 0.06em;
    /*padding-bottom: 58px;*/
}

.our-friends h3 span{
    display: block;
}

.our-friends__wrap{

}

/*#our-friends .flex-wrap{*/
/*   position: relative;*/
/*}*/

.our-friends__wrap{
    position: relative;
    padding-top: 60px;
    gap: 30px 90px;
}

.page-our-pets .our-friends__wrap{
    gap: 30px 40px;
}

.carousel-wrapper{
    width: 990px;
    margin: 0 20px;
    overflow: hidden;
}

.carousel{
    display: flex;
    gap: 90px;

    position: relative;
    left: 0;

}


@keyframes move-right {
    from {left: 0px;}
    to {left: -990px;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 5s;
}






#our-friends .item{
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
}

.our-friends_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    letter-spacing: 0.06em;
    gap: 25px;
}

#our-friends .photo{
    display: flex;
    width: 270px;
    height: 270px;
}

#our-friends .our-friends_link:hover button{
    background-color: var(--color-primary);
}

#our-friends .our-friends_link:hover .button{
    background-color: var(--color-primary);
}

#our-friends .title{
    /*margin: 30px 0;*/
    font-size: var(--size3);
    color: var(--color2);
}



#our-friends .item button{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    width: 187px;
    height: 52px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

#our-friends .item .button{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    width: 187px;
    height: 52px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
}



.our-friends_block-button{
    display: flex;
    justify-content: center;
}

.our-friends_block-button .button{
    min-width: 260px;
}


.left-arrow,
.right-arrow{
    width: 52px;
    height: 52px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    /* top: 165.5px; */
}

.left-arrow:hover,
.right-arrow:hover{
    background-color: var(--color-primary);
}

.left-arrow:before,
.right-arrow:before{
    content: '';
    width: 14px;
    height: 6px;
    background-image: url("../../assets/icons/arrow.svg");
    display: block;
    position: absolute;
    left: 19px;
    top: 23px;

}
.left-arrow:before{
    transform: rotate(180deg);
}

.right-arrow:before{

}


.ico{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
}

.pet-food{
    background-image: url("../../assets/icons/icon-pet-food.svg");
}

.transportation{
    background-image: url("../../assets/icons/icon-transportation.svg");
}

.toys{
    background-image: url("../../assets/icons/icon-toys.svg");
}

.bowls-and-cups{
    background-image: url("../../assets/icons/icon-bowls-and-cups.svg");
}

.shampoos{
    background-image: url("../../assets/icons/icon-shampoos.svg");
}

.vitamins{
    background-image: url("../../assets/icons/icon-vitamins.svg");
}

.medicines{
    background-image: url("../../assets/icons/icon-medicines.svg");
}

.collars{
    background-image: url("../../assets/icons/icon-collars-leashes.svg");
}

.sleeping-area{
    background-image: url("../../assets/icons/icon-sleeping-area.svg");
}


#help .title{
    font-size: var(--size3);
    letter-spacing: 0.06em;
    line-height: 115%;
}

.help h3 span{
    display: block;
}

#in-addition{
    background-color: var(--color-light-l);
}



#in-addition h3{
    margin-top: 0;
    margin-bottom: 20px;
}
#in-addition .text{
    font-size: var(--size1);
    color: var(--color-dark-m);
    margin-top: 20px;
    line-height: 18px;

}

.credit-card{
    background-color: var(--color-primary);
    margin-right: 30px;
    padding: 5px 15px 5px 60px;
    font-size: var(--size3);
    position: relative;
    display: block;
    color: var(--color2);
    letter-spacing: 0.06em;
}

.credit-card::before{
    content: '';
    display: block;
    position: absolute;
    background-image: url("../../assets/icons/credit-card.svg");
    width: 30px;
    height: 23px;
    left: 15px;
    top: 10px;
}

.addition-left{
    width: 505px;
    display: flex;
    align-items: center;
}

.addition-lright{
    width: 380px;
}



#footer{
    
    background: rgb(68,54,45);
    background: linear-gradient(90deg, rgba(68,54,45,1) 0%, rgba(52,44,40,1) 47%, rgba(34,32,33,1) 100%);

}

#footer .title{
    font-size: var(--size5);
    color: var(--color1);
    line-height: var(--line-height1);
    padding-bottom: 40px;
    letter-spacing: 0.06em;
}

#footer .item{
    padding-top: 56px;
    padding-bottom: 20px;
    width: 302px;
}

#footer .ico{
    color: var(--color-primary);
    font-size: var(--size3);
    height: auto;
    width: auto;
    margin: 0 auto 38px;
    background-repeat: no-repeat;
    padding-left: 60px;
    letter-spacing: 0.06em;
}

.mail{
    background-image: url("../../assets/icons/icon-email.svg");
    display: block;
}

.phone{
    background-image: url("../../assets/icons/icon-phone.svg");
    display: block;
}

.phone a{
    color: var(--color-primary);
}

#footer .marker{
    background-image: url("../../assets/icons/icon-marker.svg");
    padding-left: 42px;
}

.item-photo{
    display: flex;
    align-items: end;
    margin-left: auto;
}

.footer-photo{
    display: flex;
}

#footer .address a{
    display: block;
}




