.not-only {
  padding: 0;
  background: rgb(68, 54, 45);
  background: linear-gradient(90deg, rgba(68, 54, 45, 1) 0%, rgba(52, 44, 40, 1) 47%, rgba(34, 32, 33, 1) 100%);

  color: white;

  .container{
    height: 72.8rem;
    background-image: url("./img/start-puppy.png");
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
    display: flex;
    align-items: center;
  }

  .wrapper{
    width: 46rem;
  }

  h2{
    padding-bottom: 4.2rem;
  }

  &__slogan{

  }



}