

@media (max-width: 768px) {

    #main-menu{
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 43px;

    }
            /* start burger*/
            .burger {
                z-index: 15;
                width: 30px;
                height: 22px;
                position: relative;
                cursor: pointer;
                display: block;
                transition: all 0.3s ease 0s;
            }
            .burger::after,
            .burger::before,
            .burger span {
                left: 0;
                position: absolute;
                height: 2px;
                width: 100%;
                transition: all 0.5s ease 0s;
                background-color: var(--color-primary);

            }
            .burger::after,
            .burger::before {
                content: "";
            }
            .burger::before {
                top: 0;
            }
            .burger::after {
                bottom: 0;
            }
            .burger span {
                top: 50%;
                transform: scale(1) translate(0, -50%);
            }


            .burger.open{
                transform: rotate(90deg) translate(0, -50%);
            }
            /* .burger.open::after {
                transform: rotate(-45deg) translate(0, 50%);
                bottom: 50%;
            }
            .burger.open::before {
                transform: rotate(45deg) translate(0, -50%);
                top: 50%;
            }
            .burger.open span {
                transform: scale(0) translate(0, -50%);
            } */


            /* end burger*/
    
            .burger-list {
                position: fixed;
                flex-direction: column;
                justify-content: flex-start;
                width: 80%;
                height: 100%;
                background-color: black;
                top: 0;
                right: -100%;
                overflow: auto;
                margin: 0;
                transition: all 0.5s ease 0s;
                padding: 134px 0 0 112px;
                align-items: flex-start;
                z-index: 10;
            }
            .burger-list.open {
                right: 0;
            }
            .burger-list a {
                font-size: 1.95em;
                line-height: 2;
                margin-bottom: 16px;
                color: #fff;
            }

    #our-friends .flex-wrap .item:nth-child(5),
    #our-friends .flex-wrap .item:nth-child(6),
    #our-friends .flex-wrap .item:nth-child(7),
    #our-friends .flex-wrap .item:nth-child(8)   {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    h2 {
        font-size: 35px;
    }
    #our-friends .flex-wrap .item:nth-child(7),
    #our-friends .flex-wrap .item:nth-child(8)   {
        display: none;
    }

}

@media (min-width: 1200px){
    h2 {
        font-size: 35px;
    }

    .footer__wrap{
        justify-content: flex-start;
        gap: 138px;
    }

    .footer__item_address{

    }

    #footer .footer__item_address .title{
        padding-bottom: 32px;
    }

    #footer .address .ico{
        min-height: 32px;
        margin-bottom: 38px;
        line-height: 115%;
    }

}