-
    mainMenu = [
        {
            "link" : "#about",
            "text" : "About the shelter",
        },
        {
            "link": "pets/index.html",
            "text": "Our pets",
        },
        {
            "link": "#help",
            "text": "Help the shelter",
        },
        {
            "link": "#footer",
            "text": "Contacts",
        },
    ]

doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Мои эксперименты'
    body
        header.header
            .container
                .header__item
                    h1
                        a(class="logo" href="#") Cozy House
                    .logo-slogan Shelter for pets in Boston
                .header__item
                    nav.main-menu
                        .burger
                            span
                        ul .main-menu__list
                            each item in mainMenu
                                li.main-menu__item
                                    a(href=item.link class="burger-link nav-link active") !{item.text}

