.header{

  height: 18rem;
  padding: 6rem 0;
  background: rgb(68,54,45);
  background: linear-gradient(90deg, rgba(68,54,45,1) 0%, rgba(52,44,40,1) 47%, rgba(34,32,33,1) 100%);
  color: #fff;

  &__items{
    display: flex;
    justify-content: space-between;
  }

  &__item{
  }

  &__logo{
    color:#f1cdb3;
    font-family: 'Georgia', sans-serif;
    font-size: 3.2rem;
  }

  &__slogan{
    font-size: 1.3rem;
    padding-top: 1rem;
  }


}